:root {
    /* Adobe Theme Colours */
    --primary: #D9A577;
    --primary-light:#F27329;
    --primary-dark:#A63B14;
    --contrast-light: #F238C1;
    --contrast-dark: #070A0D;
}

.navbar {
    background-color: var(--primary-light);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.navbar-brand, 
.navbar-nav,
.nav-link {
    color: var(--contrast-dark);
}

.navbar-brand:hover, 
.nav-link:hover {
    color: var(--contrast-light);
}

body {
    background-color: var(--primary);
}

.card {
    background-color: var(--primary-light);
    width: 18rem;
    margin: 1rem;
}

.card:hover {
    background-color: var(--primary-dark);
}

.card a {
    text-decoration: none;
}

.input-group {
    margin-bottom: 1rem;
    width: 50%;
}

.form-control {
    margin-inline: 8px;
    border-radius: 24px;
    padding-inline: 1rem;
}

.btn {
    background-color: var(--primary-light);
    margin-inline: 8px;
    border-radius: 24px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.btn:hover {
    background-color: var(--contrast-light);
}