{% extends "base.html"%}

{% block content %}

    <div class="container mt-5">
        <h1>About Us</h1>
        <p>Welcome to Our Website!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in arcu ut felis tristique suscipit. Donec non mauris vitae odio semper fermentum. Fusce tincidunt justo sit amet mauris rutrum, in ultrices urna tincidunt.</p>
        <p>Curabitur congue dolor id justo malesuada, sit amet bibendum nisi lobortis. Integer eget odio vitae tortor hendrerit dignissim. Phasellus sem nisl, ullamcorper sit amet dui non, aliquet sollicitudin enim.</p>
        <p>Donec vel eros vitae mauris lacinia vehicula. Nullam sed neque libero. Suspendisse potenti. Nam sodales mauris non tortor finibus consectetur.</p>
    </div>

{% endblock content %}
