{% extends "base.html"%} 
{% block content %}

  <div class="container mt-4">
    <!-- Wrap content in a container for responsiveness -->
    <div class="row align-items-start gx-5">

      <div class="col">
        <h1>{{ album.title }}</h1>
        <p>Artist: {{ album.artist }}</p>
        <p>Release Date: {{ album.release_date }}</p>

        {% if album.cover_image %}
          <img src="{{ album.cover_image.url }}" alt="{{ album.title }} Cover Image" />
        {% else %}
          <p>No cover image available</p>
        {% endif %}
      </div>

      <div class="col text-center align-self-center">
        {% if review %}
          <h2>Your Review</h2>
          <p>Content: {{ review.content }}</p>
          <p>Album Score: {{ review.album_score }}</p>
          <p>Cover Score: {{ review.cover_score }}</p>
          <p>Favorite Track: {{ review.favorite_track }}</p>
          <p>Worst Track: {{ review.worst_track }}</p>
          <a class="btn btn-primary btn-lg" href="{% url 'review_update' review.pk %}" role="button">Edit Review</a>
        {% else %}
          <p>Hey! You haven't reviewed the album yet! Get those ears listenin' and type away. </p>
          <a class="btn btn-primary btn-lg" href="{% url 'review_create' album.pk %}" role="button">Write Review</a>
        {% endif %}
        
      </div>
  </div>
</div>

{% endblock content %}
