{% extends "base.html"%}

{% block content %}

    <div class="container mt-4">
        <div>
            <h1 class="text-center mb-4">Album List</h1>
            <hr />
            <form class="d-flex justify-content-around" method="GET">
                <div class="input-group">
                    <input 
                        class="form-control" 
                        type="text" 
                        name="album_search" 
                        placeholder={% if query != '' and query is not None %} "{{ query }}" {% else %} "Search Album..." {% endif %}
                    >
                    <button class="btn btn-sm" type="submit">Search</button>
                    <button class="btn btn-sm" action="{% url 'album_list' %}">Reset</button>
                </div>
            </form>
        </div>
        <div class="d-flex flex-row flex-wrap justify-content-around"> 
            {% if albums %}
                {% for album in albums %}
                    <div class="card">
                        <a href="{% url 'album_detail' pk=album.pk %}" class="text-dark">
                            <img class="card-img-top" src={{ album.cover_image.url }} alt="Image not found">
                            <div class="card-body">
                                <h5 class="card-title">{{ album.title }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{ album.artist }}</h6>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% else %}
                <p>No Album found...</p>
          {% endif %}
        </div>
    </div>

{% endblock content %}
