{% extends "base.html"%}
{% load crispy_forms_tags %}
{% block content %}

  <div class="container mt-4">
    <!-- Wrap content in a container for responsiveness -->
    <div class="row align-items-start gx-5">

      <div class="col">
        <h1>{{ album.title }}</h1>
        <p>Artist: {{ album.artist }}</p>
        <p>Release Date: {{ album.release_date }}</p>

        {% if album.cover_image %}
          <img src="{{ album.cover_image.url }}" alt="{{ album.title }} Cover Image" />
        {% else %}
          <p>No cover image available</p>
        {% endif %}
      </div>

      <div class="col">
        <h1>Review the album</h1>
          <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary align-self-center">Submit Review</button>
      </form>
      </div>
  </div>
</div>

{% endblock content %}
