<div id="sidebarHeader" class="sidebar_header">
  <h1>
    <span>Melodyze</span>
    <i id="sidebarToggle" class="bi bi-arrows-collapse-vertical"></i>
  </h1>
</div>

<div class="sidebar_nav">
  <a
    href="{% url 'album_list'  %}"
    class="sidebar_nav_item {% if request.path == '/' %}active{% endif %}"
  >
    <i class="bi bi-house-door me-2"></i> <span>Home</span>
  </a>
  <a
    href="{% url 'my_reviews' %}"
    class="sidebar_nav_item {% if request.path == '/my_reviews/' %}active{% endif %}"
  >
    <i class="bi bi-chat-right-heart me-2"></i>
    <span>My Reviews</span>
  </a>
  <a
    href="{% url 'dashboard' %}"
    class="sidebar_nav_item {% if request.path == '/dashboard/' %}active{% endif %}"
  >
    <i class="bi bi-bar-chart me-2"></i> <span>Dashboard</span>
  </a>
  <a
    href="{% url 'archive'  %}"
    class="sidebar_nav_item {% if request.path == '/archive/' %}active{% endif %}"
  >
    <i class="bi bi-archive me-2"></i> <span>Archive</span>
  </a>
</div>

<!-- Logout link - wrap text in span -->
<div class="sidebar_logout_container">
  <form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit" class="sidebar_nav_item w-100 text-start border-0">
      <i class="bi bi-box-arrow-right me-2"></i>
      <span>Logout</span>
    </button>
  </form>
</div>
