:root {
  /* Adobe Theme Colours */
  --primary: #a997df;
  --primary-light: #dccfec;
  --primary-dark: #4f517d;
  --contrast-light: #ddc4dd;
  --contrast-dark: #1a3a3a;

  --primary-font: "Inter", sans-serif;
  --secondary-font: "Roboto", sans-serif;
}

/* Reset any automatic padding and marins */
* {
  padding: 0;
  margin: 0;
}

/* Apply the primary font to headers */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
}

/* Apply the secondary font to regular text */
body,
p,
span,
div {
  font-family: var(--secondary-font);
}

/* Web Layout Settings */
nav {
  display: none;
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 101;
}

nav button {
  background-color: var(--primary);
  border: none;
  color: white;
  padding: 4px 4px;
  border-radius: 6px;
  transition: transform ease-in 0.4s;
  white-space: nowrap;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
}

.clicked {
  transform: rotate(90deg);
}

body {
  overflow-x: hidden;
  background-color: var(--contrast-light);
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-areas: "sidebar main";
}

body.minimized {
  grid-template-columns: 55px 1fr;
}

aside {
  grid-area: sidebar;
  top: 0;
  position: sticky;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;

  /* Sidebar Styling */
  background-color: var(--primary-dark);
  color: var(--primary);
  min-height: 100vh;
  overflow: hidden;
  padding-top: 1.5rem;
  padding-left: 12px;
  padding-right: 12px;
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
}

/* Sidebar Layout */
.sidebar_header {
  grid-row-start: 1;
  padding: 0.5rem 0.5rem;
}

.sidebar_header h1 {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  font-weight: 500;
  font-size: x-large;
}

.sidebar_header h1 i {
  padding: 4px;
}

.sidebar_header.minimized {
  padding: 0.5rem 0rem;
}

.sidebar_header h1 i:hover {
  background-color: var(--primary-light);
  color: var(--contrast-dark);
  border-radius: 12px;
  cursor: pointer;
}

.sidebar_nav {
  grid-row-start: 2;
  display: flex;
  flex-direction: column;
}

.sidebar_logout {
  grid-row-start: 3;
}

.sidebar_nav_item {
  text-decoration: none;
  background-color: var(--primary-dark);
  color: var(--primary-light);
  border: none;
  padding: 0.5rem 0.5rem;
  border-top-left-radius: 0.5rem !important; /* Add this line */
  border-bottom-left-radius: 0.5rem !important; /* Add this line */
  font-weight: 700;
  font-size: medium;
}

.sidebar_header.minimized h1 span,
.sidebar_nav_item.minimized span {
  display: none;
}

.sidebar_nav_item:hover {
  background-color: var(--primary-light);
  color: var(--contrast-dark);
  width: 110%;
}

.sidebar_nav_item.active {
  background-color: var(--contrast-light);
  color: var(--contrast-dark);
  width: calc(100% + 12px);
}

/* Main Content Styling */
.content_header {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
}

.content_header_separator {
  display: flex;
  align-self: center;
  height: 4px;
  width: 120px;
  background-color: var(--primary);
  border-radius: 2px;
}

.content_header h1 {
  text-align: center;
  margin-bottom: 1rem;
  color: var(--primary-dark);
  font-weight: 700;
  font-size: 2.5rem;
}

.content_body_list,
.content_body_details,
.content_body_reviews {
  display: grid;
  grid-template-columns: 1fr;
  margin: 2rem;
  column-gap: 2rem;
  row-gap: 2rem;
}

.btn {
  background-color: var(--primary-light);
  margin-inline: 8px;
  border-radius: 24px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.btn:hover {
  background-color: var(--contrast-light);
}

/* Responsive adjustments */
@media only screen and (min-width: 1400px) {
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 768px) {
  body {
    grid-template-columns: 1fr;
  }

  aside {
    position: fixed;
    width: 100vw;
    height: 100vh;
    transform: translateX(-100%);
    z-index: 100;
    transition: all ease-in 0.8s;
  }

  nav {
    display: grid;
  }

  .show_aside {
    transform: translateX(0%);
  }

  .sidebar_header {
    margin-inline-start: 2.5rem;
  }

  .sidebar_nav {
    row-gap: 1rem;
    margin-inline-start: 2.5rem;
    margin-block-start: 1rem;
  }

  .sidebar_logout_container {
    margin-inline-start: 2.5rem;
  }

  .sidebar_nav_item {
    padding: 0.5rem 0.5rem;
    font-size: x-large;
  }

  .content_header h1 {
    font-size: x-large;
  }
}

@media (max-width: 576px) {
  .sidebar_nav_item {
    padding: 1rem 1rem;
    font-size: xx-large;
  }
}
